@typeparam TItem

<ErrorBoundary>
    <div class="d-flex justify-content-center">
        <div class="col">
            <Card Margin="Margin.Is1.OnX">
                <CardHeader>

                </CardHeader>
                <CardBody>
                    <form>
                        @FormFields
                    </form>
                </CardBody>
                <CardFooter>

                </CardFooter>
            </Card>
        </div>
    </div>
</ErrorBoundary>
