<ErrorBoundary>
    <div class="input-group col-md-5 text-md-right">
        <input name="searchInput" type="text" class="form-control" placeholder="Department Name" @bind=SearchTerm
            @onkeyup="OnSearchTermChanged" />
        <div class="input-broup-btn">
            <button name="searchButton" class="btn btn-sm btn-default" @onclick="OnSearchButtonClick">
                <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="input-broup-btn">
            <button name="searchClearButton"
                class="btn btn-sm @(string.IsNullOrEmpty(CachedSearchTerm) ? "" : "btn-warning")"
                @onclick="OnClearSearch">
                <i class="oi oi-x" title="clear filter" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</ErrorBoundary>