# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.cs]
dotnet_diagnostic.CA2254.severity = silent
dotnet_diagnostic.RCS1175.severity = none
dotnet_diagnostic.RCS1036.severity = none
dotnet_diagnostic.RCS1037.severity = none
dotnet_diagnostic.RCS1093.severity = silent

[GuardAgainst*.cs]
dotnet_diagnostic.IDE0060.severity = none