<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" Breakpoint="Breakpoint.Desktop"
    NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark">
    <BarToggler />
    <BarBrand>
        <BarItem>
            <BarLink To="/">
                AdventureWorks Cycles
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">
                    <span><i class="fas fa-home"></i></span>
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="UseCases/Organization/DisplayCompanyDetails/Pages/CompanyStartPage">
                    <span><i class="fas fa-landmark"></i></span>
                    Company
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="UseCases/HumanResources/Pages/WorkersStartPage">
                    <span><i class="fas fa-users"></i></span>
                    Workers
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>