@page "/UseCases/Organization/DisplayCompanyDetails/Pages/CompanyStartPage"
@inherits FluxorComponent
@using REA.Accounting.Client.Components.Common

<PageTitle>Company</PageTitle>

<Row TextAlignment=TextAlignment.Center Margin="Margin.Is3.FromTop">
    <Heading Size="HeadingSize.Is5">
        AdventureWorks Cycles, Company
    </Heading>
</Row>

<ErrorBoundary>
    @if (Loading)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <ReadOnlyDetailsForm FormTitle=@DetailsModel!.CompanyName ViewModel=@DetailsModel>

        </ReadOnlyDetailsForm>

        <br />
        @* <button class="btn btn-outline-info" @onclick="LoadForecasts">Refresh Forecasts</button> *@
    }
    </ErrorBoundary>