@page "/UseCases/Organization/DisplayCompanyDetails/Pages/CompanyStartPage"
@inherits FluxorComponent
@using REA.Accounting.Client.Components.Common

<PageTitle>Company</PageTitle>

<Row TextAlignment=TextAlignment.Center Margin="Margin.Is3.FromTop">
    <Heading Size="HeadingSize.Is5">
        AdventureWorks Cycles, Viewing Company Details
    </Heading>
</Row>
<div class="container">
    <div class="row align-items-left">
        <div class="col-1 align-self-center justify-content-start">
            <EditResourceLink DoPreNavigationProcessing=@GoToUpdateCompanyDetailsPage />
        </div>
    </div>
</div>
<ErrorBoundary>
    @if (Loading)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <ReadOnlyDetailsForm ViewModel=@DetailsModel>
            <FormFields>
                <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Justified Pills=true>
                <Items>
                    <Tab Name="generalInfo">General Info</Tab>
                    <Tab Name="addressInfo">Addresses</Tab>
                    <Tab Name="contactInfo">Contact Info</Tab>
                </Items>
                <Content>
                    <TabPanel Name="generalInfo">
                        <Field>
                            <FieldLabel TextWeight="TextWeight.Bold">Company Name</FieldLabel>
                            <FieldBody>
                                <TextEdit Text=@DetailsModel!.CompanyName ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Legal Name</FieldLabel>
                                <FieldBody>
                                    <TextEdit Text=@DetailsModel!.LegalName ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Employer Identification Number</FieldLabel>
                                <FieldBody>
                                    <TextEdit Text=@DetailsModel!.EIN ReadOnly />
                                </FieldBody>
                            </Field>
                        </TabPanel>
                        <TabPanel Name="addressInfo">
                            <fieldset>
                                <legend>Postal Address:</legend>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Address Line1</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.MailAddressLine1 ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Address Line2</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.MailAddressLine2 ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">City</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.MailCity ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">State</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.MailStateProvinceCode ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Zipcode</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.MailPostalCode ReadOnly />
                                    </FieldBody>
                                </Field>
                            </fieldset>
                            <fieldset>
                                <legend>Delivery Address:</legend>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Address Line1</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.DeliveryAddressLine1 ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Address Line2</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.DeliveryAddressLine2 ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">City</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.DeliveryCity ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">State</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.DeliveryStateProvinceCode ReadOnly />
                                    </FieldBody>
                                </Field>
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Zipcode</FieldLabel>
                                    <FieldBody>
                                        <TextEdit Text=@DetailsModel!.DeliveryPostalCode ReadOnly />
                                    </FieldBody>
                                </Field>
                            </fieldset>
                        </TabPanel>
                        <TabPanel Name="contactInfo">
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Telephone</FieldLabel>
                                <FieldBody>
                                    <TextEdit Text=@DetailsModel!.Telephone ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Fax</FieldLabel>
                                <FieldBody>
                                    <TextEdit Text=@DetailsModel!.Fax ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field>
                                <FieldLabel TextWeight="TextWeight.Bold">Company Website</FieldLabel>
                                <FieldBody>
                                    <TextEdit Text=@DetailsModel!.CompanyWebSite ReadOnly />
                                </FieldBody>
                            </Field>
                        </TabPanel>
                    </Content>
                </Tabs>
            </FormFields>
        </ReadOnlyDetailsForm>

        <br />
        @* <button class="btn btn-outline-info" @onclick="LoadForecasts">Refresh Forecasts</button> *@
    }
    </ErrorBoundary>