@page "/UseCases/Organization/DisplayCompanyDepartments/Pages/DisplayCompanyDepartmentsPage"
@inherits FluxorComponent
@using REA.Accounting.Client.Components.Common;
@using REA.Accounting.Shared.Models.Organization;

<PageTitle>Company Departments</PageTitle>
<Row TextAlignment=TextAlignment.Center Margin="Margin.Is3.FromTop">
    <Heading Size="HeadingSize.Is5">
        AdventureWorks Cycles, Viewing Company Departments
    </Heading>
</Row>

<ErrorBoundary>
    @if (Loading)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <Row>
            <Column>
                <div class="col-1 align-self-center justify-content-start">
                    @* <CreateResourceLink DoPreNavigationProcessing=@LoadEmployeeLookups /> *@
                </div>
                <div class="col-5 align-self-center justify-content-start">
                    <SingleFieldGridSearch PlaceHolderText="Department Name"
                    OnSearchTermChangedEventHandler=@OnSearchChanged />
                </div>
            </Column>
        </Row>
        <Row>

        </Row>
    }
    </ErrorBoundary>